<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roddan Development Foundation</title>
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <div class=" row width-100 height-100 hidden_overflow">
        <div class="login_card center pd-inl-20 col gap-10">
            <div class="logo_banner pd-15">
                <h1>Roddan Development Foundation</h1>
            </div>
            <%- include('./messages') %>
            <form action="/reset_password" method="post" class="width-100">
                <div class="card height-50 width-100  rounded-10 gap-20 col center">
                    <div class="welcome_message width-100">
                        <p>Welcome to Roddan</p>
                    </div>
                    <input type="password" name="password" id="" placeholder="New Password"
                        class="width-100 pd-15 rounded-5 input-border">
                    <input type="password" name="confirm_password" id="" placeholder="Confirm Password"
                        class="width-100 pd-15 rounded-5 input-border">

                    <button type="password"
                        class="width-100 pd-15 rounded-5 prim_btn_bg_fill prim_btn_color-hover">submit</button>
                </div>
            </form>

        </div>
        <div class="login_image">
            <img src="/images/landing_img.jpg" alt="">
        </div>
    </div>
</body>

</html>