<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roddan Development Foundation</title>
   
    <%- include('./layouts/headers') %>
</head>

<body>
    <div class="body_wrapper">

            <%- include('./layouts/sidebar') %>
        <div class="main-wrapper">
            
                <%- include('./layouts/top_nav') %>
    
            <div class="container_wrapper gap-10 col pd-inl-15 ">
                <div class="owner_container card shadow_dark height-100 width-100 rounded-10 pd-30 ">
                    <div class="headline width-100 row space-between pd-10">
                        <h2 class="letter-spc-2">RESULTS FOR : ABDUL</h2>
                        <!-- <a href="./add_manager.html" class="logout pd-10 rounded-5"> Add Manager</a> -->
                    </div>
                    <br>
                    <div class="card_container row gap-20 flex-wrap pd-10">
                        <div class="owner_card rounded-10  shadow_ligth col ">
                            <div class="owner_img">
                                <img src="/images/profile.jpeg" alt="">
                            </div>
                            <div class="owner_descrip pd-5 gap-10 col">
                                <p>Name: Abdul Hafis Mohammed</p>
                                <p>Contact: 0201025963</p>
                                <p>Contact: 0201025963</p>
                            </div>
                            <div class="action_btn row gap-20 center pd-10">
                                <a href="" class="pd-10 width-100 center rounded-5 prim_btn_color">View</a>
                                <a href="" class="danger width-100 center pd-10 rounded-5">Delete</a>
                            </div>

                        </div>
                        <div class="owner_card rounded-10  shadow_ligth col ">
                            <div class="owner_img">
                                <img src="/images/profile.jpeg" alt="">
                            </div>
                            <div class="owner_descrip pd-5 gap-10 col">
                                <p>Name: Abdul Hafis Mohammed</p>
                                <p>Contact: 0201025963</p>
                                <p>Contact: 0201025963</p>
                            </div>
                            <div class="action_btn row gap-20 center pd-10">
                                <a href="" class="pd-10 width-100 center rounded-5 prim_btn_color">View</a>
                                <a href="" class="danger width-100 center pd-10 rounded-5">Delete</a>
                            </div>

                        </div>
                        <div class="owner_card rounded-10  shadow_ligth col ">
                            <div class="owner_img">
                                <img src="/images/profile.jpeg" alt="">
                            </div>
                            <div class="owner_descrip pd-5 gap-10 col">
                                <p>Name: Abdul Hafis Mohammed</p>
                                <p>Contact: 0201025963</p>
                                <p>Contact: 0201025963</p>
                            </div>
                            <div class="action_btn row gap-20 center pd-10">
                                <a href="" class="pd-10 width-100 center rounded-5 prim_btn_color">View</a>
                                <a href="" class="danger width-100 center pd-10 rounded-5">Delete</a>
                            </div>

                        </div>
                        <div class="owner_card rounded-10  shadow_ligth col ">
                            <div class="owner_img">
                                <img src="/images/profile.jpeg" alt="">
                            </div>
                            <div class="owner_descrip pd-5 gap-10 col">
                                <p>Name: Abdul Hafis Mohammed</p>
                                <p>Contact: 0201025963</p>
                                <p>Contact: 0201025963</p>
                            </div>
                            <div class="action_btn row gap-20 center pd-10">
                                <a href="" class="pd-10 width-100 center rounded-5 prim_btn_color">View</a>
                                <a href="" class="danger width-100 center pd-10 rounded-5">Delete</a>
                            </div>

                        </div>
                        <div class="owner_card rounded-10  shadow_ligth col ">
                            <div class="owner_img">
                                <img src="/images/profile.jpeg" alt="">
                            </div>
                            <div class="owner_descrip pd-5 gap-10 col">
                                <p>Name: Abdul Hafis Mohammed</p>
                                <p>Contact: 0201025963</p>
                                <p>Contact: 0201025963</p>
                            </div>
                            <div class="action_btn row gap-20 center pd-10">
                                <a href="" class="pd-10 width-100 center rounded-5 prim_btn_color">View</a>
                                <a href="" class="danger width-100 center pd-10 rounded-5">Delete</a>
                            </div>

                        </div>
                        <div class="owner_card rounded-10  shadow_ligth col ">
                            <div class="owner_img">
                                <img src="/images/profile.jpeg" alt="">
                            </div>
                            <div class="owner_descrip pd-5 gap-10 col">
                                <p>Name: Abdul Hafis Mohammed</p>
                                <p>Contact: 0201025963</p>
                                <p>Contact: 0201025963</p>
                            </div>
                            <div class="action_btn row gap-20 center pd-10">
                                <a href="" class="pd-10 width-100 center rounded-5 prim_btn_color">View</a>
                                <a href="" class="danger width-100 center pd-10 rounded-5">Delete</a>
                            </div>

                        </div>
                        <div class="owner_card rounded-10  shadow_ligth col ">
                            <div class="owner_img">
                                <img src="/images/profile.jpeg" alt="">
                            </div>
                            <div class="owner_descrip pd-5 gap-10 col">
                                <p>Name: Abdul Hafis Mohammed</p>
                                <p>Contact: 0201025963</p>
                                <p>Contact: 0201025963</p>
                            </div>
                            <div class="action_btn row gap-20 center pd-10">
                                <a href="" class="pd-10 width-100 center rounded-5 prim_btn_color">View</a>
                                <a href="" class="danger width-100 center pd-10 rounded-5">Delete</a>
                            </div>

                        </div>
                        <div class="owner_card rounded-10  shadow_ligth col ">
                            <div class="owner_img">
                                <img src="/images/profile.jpeg" alt="">
                            </div>
                            <div class="owner_descrip pd-5 gap-10 col">
                                <p>Name: Abdul Hafis Mohammed</p>
                                <p>Contact: 0201025963</p>
                                <p>Contact: 0201025963</p>
                            </div>
                            <div class="action_btn row gap-20 center pd-10">
                                <a href="" class="pd-10 width-100 center rounded-5 prim_btn_color">View</a>
                                <a href="" class="danger width-100 center pd-10 rounded-5">Delete</a>
                            </div>

                        </div>
                        <div class="owner_card rounded-10  shadow_ligth col ">
                            <div class="owner_img">
                                <img src="/images/profile.jpeg" alt="">
                            </div>
                            <div class="owner_descrip pd-5 gap-10 col">
                                <p>Name: Abdul Hafis Mohammed</p>
                                <p>Contact: 0201025963</p>
                                <p>Contact: 0201025963</p>
                            </div>
                            <div class="action_btn row gap-20 center pd-10">
                                <a href="" class="pd-10 width-100 center rounded-5 prim_btn_color">View</a>
                                <a href="" class="danger width-100 center pd-10 rounded-5">Delete</a>
                            </div>

                        </div>
                        <div class="owner_card rounded-10  shadow_ligth col ">
                            <div class="owner_img">
                                <img src="/images/profile.jpeg" alt="">
                            </div>
                            <div class="owner_descrip pd-5 gap-10 col">
                                <p>Name: Abdul Hafis Mohammed</p>
                                <p>Contact: 0201025963</p>
                                <p>Contact: 0201025963</p>
                            </div>
                            <div class="action_btn row gap-20 center pd-10">
                                <a href="" class="pd-10 width-100 center rounded-5 prim_btn_color">View</a>
                                <a href="" class="danger width-100 center pd-10 rounded-5">Delete</a>
                            </div>

                        </div>

                    </div>
                    <br>
                    <br>
                    <div class="pargination center row gap-20">
                        <a href="" class="width-20 pd-10 prim_btn_color rounded-20">Previous</a>
                        <p>1</p>
                        <a href="" class="width-20 pd-10 prim_btn_color rounded-20">Next</a>
                    </div>

                </div>

                <div class="footer height-20 width-100">
                    <!-- <p>@hafis</p> -->
                </div>
            </div>
        </div>


        <script src="/js/dashboard.js"></script>


</body>

</html>