
<aside class="side_bar height-100 ">
    
    <div class="model_clode_btn hidden">
        <p class="dis_menu">
          <i class="fa-solid fa-x" style="font-size: 30px; align-items: end"></i>
        </p>
      </div>

    <div class="logo_banner width-100 row">
        <img src="/images/banner.png" class="width-100 ">
        <div class="close_btn width-30 center hidden">
            <i class="fa-solid fa-x" style="font-size: 20px;"></i>
        </div>
    </div>
    <div class="side_bar_properties width-100 col gap-10">
        <a href="/dashboard" class="icon-text"> <i class="fa fa-dashboard" aria-hidden="true"></i> Dashboard</a>
        <a href="/owners" class="icon-text"><i class="fas fa-user-tie"></i> Owners</a>
        <a href="/owner/cattles" class="icon-text"><i class="fas fa-cow    "></i> Cattles</a>

    </div>
</aside>