<div class="footer width-100">
    <footer>
      <div class="container">
        <div class="row space-between pd-inl-40 flex-wrap footer-content">
          <div class="col-sm-4 col-md-3 item">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="/dashboard" class="icon-text">
                 Dashboard
              </a> </li>
              <li> <a href="/manager/managers" class="icon-text">
              Manager
              </a>  </li>
              <li> <a href="/manager/owners" class="icon-text"> Owners</a></li>
              <li><a href="/manager/cattles" class="icon-text">  Cattles</a></li>
              <li><a href="/manager/edit" class="icon-text"> Edit</a></li>
              
            </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
            <h3>About</h3>
            <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Legacy</a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
            <h3>Future Features</h3>
            <ul>
                <li><a href="/track_cattles" class="icon-text"> Track Cattle</a></li>
              <li><a href="#">Employee success</a></li>
              <li><a href="#">Benefits</a></li>
            </ul>
          </div>
          <div class="col-lg-3 item social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-snapchat"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <p class="copyright">Roddan Development Foundatfa © 2018</p>
          </div>
        </div>
      </div>
    </footer>
  
  </div>
  