<div class="sidebar close">
  <div class="logo-details">
    <div class="menu">
      <i class="bx bx-menu" id="menu-i"></i>
    </div>
    <span class="logo_name">Roddan</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="/dashboard">
        <i class="bx bx-grid-alt"></i>
        <span class="link_name">Dashboard</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/dashboard">Dashboard</a></li>
      </ul>
    </li>
    <li>
      <a href="/manager/cattles">
        <i class="fas fa-cow"></i>
        <span class="link_name">Cattle</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Cattle</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class="bx bxs-user-account"></i>
          <span class="link_name">accounts</span>
        </a>
        <i class="bx bxs-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Accounts</a></li>
        <li>
          <a href="/manager/managers" class="icon-text"> Manager </a>
        </li>
        <li>
          <a href="/manager/owners" class="icon-text"> Owners </a>
        </li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class="bx bx-edit-alt"></i>
          <span class="link_name">Edit</span>
        </a>
        <i class="bx bxs-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Edit</a></li>
        <li><a href="/manager/managers/edit">Managers</a></li>
        <li><a href="/manager/edit">Owner</a></li>
        <li><a href="/manager/cattle/edit">Cattles</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class="bx bx-plus"></i>
          <span class="link_name">Add</span>
        </a>
        <i class="bx bxs-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Add</a></li>
        <li><a href="/manager/managers">Managers</a></li>
        <li><a href="/manager/add_owner">Owner</a></li>
        <li><a href="/manager/add_cattle">Cattles</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class="bx bx-food-menu"></i>
          <span class="link_name">Records</span>
        </a>
        <i class="bx bxs-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Records</a></li>
        <li><a href="/download_records"> <i class="bx bx-download"></i> Owner</a></li>
        <li><a href="/download_records"><i class="bx bx-download"></i>Cattles</a></li>
      </ul>
    </li>
    
  </ul>
</div>
